body{
	margin		: 0px;
}

#header{
	background	: #E80058;
	padding		: 0px;
}

#content{
	min-height	: 500px;
	background	: #F62459;
}
#content_right{
	min-height	: 500px;
	background	: white;
}
#content_left{
	background	: #F62459;
	padding		: 0px;
}
h1{
	padding		: 0px;
	margin		: 0px;
}
#logo{
	margin		: 0px;
	padding		: 0px;
	margin-left	: 0px;
	color		: white;
}
.navbar{
	margin		: 0px;
	color		: white;
	min-height	: 1px;
}
.navbar-nav > li > a{
	padding-top	: 10px;
	padding-bottom	: 10px;
	color		: white;
}
.nav li a{
	color		: white;
}
.nav li a:hover,.nav li a:focus{
	color		: #F62459;
}
#menu{
	padding			: 0px;
	padding-top		: 20px;
	color			: white;
}
.dropdown-menu{
	background		: #F62459;
}
#page_content{
	margin-top		: 10px;
}
#filter{
	margin-top		: 10px;
}
#add_button{
	margin			: 20px 40px 0px -40px;
}
#dashboard_stock{
	background		: white;
	min-height		: 100px;
	padding			: 0px;
	margin-top		: 20px;
	margin-bottom	: 20px;
	border			: 1px solid;
}
#dashboard_search{
	background		: white;
	min-height		: 100px;
	padding			: 0px;
	margin-top		: 20px;
	margin-bottom	: 20px;
	border			: 1px solid;
	float			: right;
}
.title{
	background		: #F62459;
	padding			: 2px 10px 2px 10px;
	color			: white;
}
#myChart{
	margin			: 20px 10px 10px 10px;
}
#button{
	padding			: 0px 0px 10px 30px;
}
.item{
	width			: 100%;
}
.action{
	font-size		: 12px;
	margin			: 0px;
}
#search{
	padding			: 10px;
}

.file_upload {
	position	: relative;
	overflow	: hidden;
	
}
.file_upload input.upload {
	position	: absolute;
	top			: 0;
	right		: 0;
	margin		: 0;
	padding		: 0;
	font-size	: 20px;
	cursor		: pointer;
	opacity		: 0;
	filter		: alpha(opacity=0);
}
#input_file{
	padding		: 0px 10px 0px 0px;
}
#footer{
	height		: 100px;
	background	: #E80058;
	color		: white;
	text-align	: left;
}
